.nav {
  height: 10vh;
  width: 100vw;
  background-color: #292929;
  display: flex;
}

.logo {
  height: 10vh;
  width: 25vw;
}

.button {
  color: rgb(255, 255, 255);
  font-size: 25px;
  align-self: end;
  background-color: #292929;
  height: 7vh;
  width: 10vw;
  cursor: pointer;
  opacity: 0.6;
  border: #292929;
  text-decoration: none;
}
.button:hover {
  background-color: rgb(250, 250, 250);
  opacity: 1;
  color: #292929;
}

.search {
  height: 5vh;
  width: 25vw;
  border-radius: 80px 80px 80px 80px;
  position: relative;
  left: 250px;
  top: 30px;
}
